body {
  margin: 0;
  text-align: center;
  font-family: 'East Sea Dokdo', cursive;
  background-color: #fff0f0;
  padding-top: 56px;
}

h1 {
  color: #463333;
  font-family: 'Nerko One', cursive;
  font-size: 6.5rem;
  margin: 3rem auto 0 auto;
}

h2 {
  color: #463333;
  font-family: 'Nerko One', cursive;
  font-size: 3rem;
}

h3 {
  color: #463333;
  font-family: 'Nerko One', cursive;
  margin: 8% auto 3% auto;
  font-size: 1.5rem;
}

p {
  color: #463333;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 1.8rem;
}

a:hover{
  color: #fff0f0;
}

.homepage{
  height = 100%;
}

.title{
  background-color: #ebd4d4;
  width: 100%;
  position: absolute;
  top: 0;
}

.title-text{
  color: #463333;
  font-family: 'Nerko One', cursive;
  font-size: 1.3rem;
  padding-left: 3%;
}

.navbar-collapse.collapse.in {
  display: block!important;
}

.sub {
  color: #463333;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 1.8rem;
  font-weight: normal;
  margin-top: 1rem;
}

.topContainer {
  position: relative;
  padding-top: 100px;
}

.cartoon {
  bottom: 5%;
  left: 32%;
  width: 35%;
  mix-blend-mode: multiply;
}

.profile {
  width: 70%;
  margin: 0 auto 0 auto;
  padding-top: 56px;
}

.profile-title {
  margin: 5% auto 5% auto;
}

.profile-pic {
  float: left;
  margin: 5% auto 10% auto;
}

.my-description{
  margin: 5% auto 5% auto;
}

.horizontal-rule {
  clear: left;
  color: #835858;
  border: dotted 6px;
  border-bottom: none;
  width: 5%;
  margin: 9% auto 9% auto;
}

.project-title {
  margin: 5% auto 5% auto;
}

.my-project{
  width: 70%;
  margin: 0 auto 0 auto;
  padding-top: 56px;
}

.project-img {
  float: left;
  margin: 5% auto 7% auto;
}

.project-description {
  margin: 5% auto 5% auto;
}

.secondp {
  clear: left;
}

.Contact-title {
  margin: 5% auto 3% auto;
}

.contact-me{
  padding-top: 130px;
}

.bottom-container {
  background-color: #ebd4d4;
  margin: 5% auto 0 auto;
  padding: 1rem 0 1rem 0;
}

.footer{
  color: #463333;
  font-family: 'Nerko One', cursive;
  font-size: 1.2rem;
  text-decoration: none;
  margin: 1% auto 1% auto;
}

.inline-paragraph {
  display: inline;
  margin: auto;
}

.btn {
  margin-top: 3%;
  -moz-box-shadow: inset 0px 1px 0px 0px #efdcfb;
  -webkit-box-shadow: inset 0px 1px 0px 0px #efdcfb;
  box-shadow: inset 0px 1px 0px 0px #efdcfb;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfbdfa), color-stop(1, #bc80ea));
  background: -moz-linear-gradient(center top, #dfbdfa 5%, #bc80ea 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfbdfa', endColorstr='#bc80ea');
  background-color: #dfbdfa;
  -webkit-border-top-left-radius: 8px;
  -moz-border-radius-topleft: 8px;
  border-top-left-radius: 8px;
  -webkit-border-top-right-radius: 8px;
  -moz-border-radius-topright: 8px;
  border-top-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  -moz-border-radius-bottomright: 8px;
  border-bottom-right-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  -moz-border-radius-bottomleft: 8px;
  border-bottom-left-radius: 8px;
  text-indent: 0;
  border: 1px solid #c584f3;
  display: inline-block;
  color: #ffffff;
  font-family: 'East Sea Dokdo', cursive;
  font-size: 30px;
  font-weight: bold;
  font-style: normal;
  height: 38px;
  line-height: 38px;
  width: 108px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 1px 0px #9752cc;
}

.btn:hover {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #bc80ea), color-stop(1, #dfbdfa));
  background: -moz-linear-gradient(center top, #bc80ea 5%, #dfbdfa 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bc80ea', endColorstr='#dfbdfa');
  background-color: #bc80ea;
}

.btn:active {
  position: relative;
  top: 1px;
}
